[map]
filename=Mapa de Transportes.html
title=Mapa de Transportes
[data]
shapes_path=data/{}_shapes.json
trips_path=data/{}_trips.json
stops_path=data/{}_stops.json
schedule_path=data/{}_schedule.json
calendar_path=data/{}_calendar.json
routes_path=data/{}_routes.json
[carris]
data_path=Carris/data
#shape_color=LINE
shape_color=#eba60a
shape_width=2
stops_inner_color=#eba60a
stops_outer_color=#eba60a
stops_size=5
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=1
[cm]
data_path=CarrisMetropolitana/data
shape_color=#206cad
shape_width=2
stops_inner_color=#206cad
stops_outer_color=#206cad
stops_size=5
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=1
[cascais]
data_path=MobiCascais/data/cascais
shape_color=#31bcad
shape_width=2
stops_inner_color=#31bcad
stops_outer_color=#31bcad
stops_size=5
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=1
[barreiro]
data_path=Barreiro/data/barreiro
shape_color=#90cc57
shape_width=2
stops_inner_color=#90cc57
stops_outer_color=#90cc57
stops_size=5
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=1
[ml]
data_path=MetroLisboa/data
shape_color=LINE
shape_width=3
stops_inner_color=#ffffff
stops_outer_color=#000000
stops_size=7
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5
[cplisboa]
data_path=CpLisboa/data
shape_color=LINE
shape_width=5
stops_inner_color=#ffffff
stops_outer_color=#000000
stops_size=30
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5
[fertagus]
data_path=Fertagus/data
shape_color=LINE
shape_width=5
stops_inner_color=#ffffff
stops_outer_color=#000000
stops_size=30
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5
[transtejo]
data_path=Transtejo/data
shape_color=LINE
shape_width=3
stops_inner_color=#5f0000
stops_outer_color=#000000
stops_size=30
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5
[stcp]
data_path=STCP/data
shape_color=LINE
shape_width=2
stops_inner_color=#aaaaaa
stops_outer_color=#aaaaaa
stops_size=5
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5
[mp]
#data_path=MetroPorto/data
data_path=MetroPorto/data3/Horаrios_GTFS
shape_color=LINE
shape_width=3
stops_inner_color=#ffffff
stops_outer_color=#000000
stops_size=30
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5