[db]
host=localhost
database=public_transport
user=<user>
password=<password>
[map]
filename=Carris.html
[carris]
data_path=Carris/data
#shape_color=LINE
shape_color=#eba60a
shape_width=2
stops_inner_color=#eba60a
stops_outer_color=#eba60a
stops_size=7
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=1