[map]
filename=Mapa de Transportes.html
title=Mapa de Transportes
[carris]
#shape_color=LINE
shape_color=#eba60a
shape_width=2
stops_inner_color=#eba60a
stops_outer_color=#eba60a
stops_size=5
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=1
[cm]
#shape_color=LINE
shape_color=#206cad
shape_width=2
stops_inner_color=#206cad
stops_outer_color=#206cad
stops_size=5
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=1
[cascais]
shape_color=#31bcad
shape_width=2
stops_inner_color=#31bcad
stops_outer_color=#31bcad
stops_size=5
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=1
[barreiro]
shape_color=#90cc57
shape_width=2
stops_inner_color=#90cc57
stops_outer_color=#90cc57
stops_size=5
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=1
[ml]
shape_color=LINE
shape_width=3
stops_inner_color=#ffffff
stops_outer_color=#000000
stops_size=7
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5
[cplisboa]
shape_color=LINE
shape_width=5
stops_inner_color=#ffffff
stops_outer_color=#000000
stops_size=30
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5
[fertagus]
shape_color=LINE
shape_width=5
stops_inner_color=#ffffff
stops_outer_color=#000000
stops_size=30
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5
[transtejo]
shape_color=LINE
shape_width=3
stops_inner_color=#5f0000
stops_outer_color=#000000
stops_size=30
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5
[stcp]
shape_color=LINE
shape_width=2
stops_inner_color=#aaaaaa
stops_outer_color=#aaaaaa
stops_size=5
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5
[mp]
shape_color=LINE
shape_width=3
stops_inner_color=#ffffff
stops_outer_color=#000000
stops_size=30
vehicle_color=LINE
vehicle_size=7
vehicle_frequency_s=5